*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    font-family: 'Source Serif Pro';
    padding: 0% 4%;
}

.hero-section{
    margin-top: 10%;
    margin-bottom: 15%;
    font-family: 'Source Serif Pro';
}

.hero-container{
    width: 100%;
}

.hero-image{
    width: 100%;
    filter: brightness(0.6) 
  
}

.hero-image-container{
    position: relative;
    margin-bottom: 15%;
}

.search-heading{
    position: absolute;
    font-size: 1.7em;
    color:white;
    font-weight: bold;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);   
    
}
.search{
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);   
    padding: 1%;
    opacity: 0.8;

}
.search-icon{
    position: absolute;
    top: 50%;
    left: 73%;
    transform: translate(-50%,-50%);
}
.quote{
    font-weight: 500;
    text-align: center;
    font-style: italic;
    font-size: 2em;
   /* background-color: rgb(240, 225, 205); */
   background-color: rgb(211, 233, 151);

   padding: 5%;
   width: 100%;
}

.recipe-section{
    width: 100%;
   
}
.recipe-image{
    width: 100%;
    height: auto;
}
.recipe-container{
    position: relative;
    margin-bottom: 50%;
}
.recipe-about-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    top: 115%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.89);
    width: 90%;
    height: 65%;
    padding: 10% 3%;
    outline: 1px solid rgb(248, 247, 247);
}

.heading{
    margin: 15% 0%;
    font-size: 2.2em;
    font-weight: 550;
}
.recipe-about{
    visibility: hidden;
    width: 0;
    height: 0;
}
span{
    color: red;
}

button{
    background-color: white;    
    margin-top: 2%;
    border: none;
    text-decoration: none;
    width: 40%;
    cursor: pointer;
    height: 10%;
    
}

.demo{
    margin-bottom: 50%;
}
.banner{
    visibility: hidden;
}

.arrow{
    visibility: hidden;
}
footer{
    background-color: red;
    width: 100%;
}
.copyright{
    width: 100%;
    text-align: center;
}

/* PC */
@media (min-width: 1020px){
   
    .hero-section{
        margin-top: 3%;
    }
    .hero-image{
        height: 45vw;
    filter: brightness(0.5);
    }
    .search-heading{
        font-size: 5em;
    }
    input{
        padding: 0% 10%;
        width: 50%;
    }
  
    .quote-container{
        width: 100%;
        position: relative;
        background: url("https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80")
        center center/ cover no-repeat;

    }
    .img{
        position: absolute;
        width: 100%;   
        background-color: red;
        filter:opacity(0.1);
        height: 100%;
   
    }
    .quote{
        margin: auto;
        font-size: 3em;
        background-color: unset;
        color: white;
        font-weight: bold;
        z-index: 1000;
    }

    .heading{
        font-size: 4em;
        margin: 17% 0% 10% 0%;
    }
    main{
        padding: 0% 12%;
    }
    .recipe-container{
        margin-bottom: 15%;
    }
    .recipe-about-container{
        text-align: center;
        top: 50%;
        left: 75%;
        transform: translate(-50%,-50%);
        background-color: rgba(255, 255, 255, 0.70);
        width: 40%;
        height: 70%;
        padding: 5% 3%;
        outline: 1px solid rgb(248, 247, 247);
       
    }

    .banner{
        visibility: visible;
        position: absolute;
        background-color: red;
        top: 15%;
        padding: 1% 4%;
        z-index: 30;
        color: white;
        font-size: 1.2em;
        left: 75%;
        transform: translate(-50%,-50%);

    }
    .recipe-about{
        visibility: visible;
        width: auto;
        height: auto;
        padding: 6% 0%;
    }

    button{
        background-color:unset;
        font-size: 1.5em;
        margin-top: 2%;
        border: none;
        text-decoration: none;
        width: 42%;
        cursor: pointer;
        
    }

    .arrow{
        visibility: visible;
        width:7%;
        margin: 0% 6%;

    }

    

}