*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    font-family: 'Source Serif Pro';
    padding: 0% 4%;
}

.recipe-intro-container{
    width: 100%;
    margin-bottom: 15%;
}

.recipe-img{
    margin-top: 5%;
    width: 100%;
}
h1{
    color: red;
    margin: 6% 0%;
    font-size: 1.8em;
    font-weight: 600;
}
.recipe-overview{
    border: 1px solid rgb(214, 207, 207);
    width: 100%;
    padding: 7% 2%;
}
li{
    margin: 5% 0%;
}
h4{
    font-size: 1.6em;
    opacity: 80%;
    color: rgb(219, 62, 62);
    font-weight: bolder;
    margin-bottom: 6%;
}
span{
    font-weight: 700;
    font-size: 1em;
}

.ingredients, .steps{
    margin: 7% 0%;
    padding: 0% 2%;
}
ul{
    list-style-type:none;
}
i{
    font-size: 1.2em;
}
.steps{
    width: 100%;
}
.step-heading{
    font-size: 1.3em;
}

.recipe-info{
    margin-top: 5%;
    margin-bottom: 8%;
}

footer{
    margin-top: 30%;
    background-color: red;
    padding: 10%;
    text-align: center;
    color: #fff;
    display: flex;
    font-weight: bolder ;
    flex-direction: column;
}

@media (min-width: 1020px){
    h1{
        font-size: 4em;
    }
    .recipe-img{
        width: 80%;
    }
    .demo{
        display: flex;
        flex-direction: row;
    }
    .recipe-overview{
        width: 30%;
        height: 58vh;
        margin-top: 19%;
        padding-top: 3%;
    }
    .recipe-overview h4{
    font-size: 1.9em;
    margin-bottom: 15%;
    }
    .recipe-overview ul{
        font-size: 1.4em;
    }
    .recipe-overview li{
        margin: 15% 0%;
    }
    .recipe-intro-container{
        margin-bottom: 10%;

    }
    .ingredients h4, .steps h4{
        font-size: 3.5em;
    }
    .ingredients ul, .steps ul{
        font-size: 1.5em;
    }

}